.table-box{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .detail{
    margin-left: 50px;
    .top-con{
      text-align: center;
      .con{
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        >div{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
          span{
            width: 120px;
            
          }
          input {
            width: 100px;
          }
        }
      }
    }
    .bottom-con{
      margin-top: 50px;
      .title{
        height: 40px;
        line-height: 40px;
      }
    }
  }
}